In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df_pre = pd.read_csv('raiffeisen.csv')
df_pre.head()

,office_id,city,latitude,longitude,work_day_hours,holiday_hours,opt_0,opt_1,opt_2,opt_3,...,opt_7,opt_8,opt_9,opt_10,opt_11,opt_12,opt_13,opt_14,opt_15,opt_16
0,0,г.Москва,55.754664,37.608984,10:00-20:00,not working,1,1,0,1,...,0,0,1,1,0,0,1,1,0,0
1,1,г.Москва,55.751780,37.599270,10:00-20:00,not working,1,1,0,1,...,0,0,1,1,0,0,1,1,0,0
2,2,г.Москва,55.762194,37.634410,10:00-20:00,10:00-17:00,1,1,0,0,...,0,0,1,1,1,1,1,1,0,0
3,3,г.Москва,55.767421,37.612543,10:00-20:00,not working,1,1,0,1,...,0,0,1,1,0,0,1,1,0,0
4,4,г.Москва,55.741678,37.616970,10:00-19:00,not working,1,1,0,0,...,0,0,1,1,0,0,1,1,1,0

In [3]:
df = df_pre.drop(columns=['office_id'])
df = pd.get_dummies(df)
scaler = StandardScaler()
df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
df.head()

,latitude,longitude,opt_0,opt_1,opt_2,opt_3,opt_4,opt_5,opt_6,opt_7,...,work_day_hours_ 10:00-21:00,work_day_hours_ 11:00-20:00,holiday_hours_ 09:00-14:00,holiday_hours_ 10:00-14:00,holiday_hours_ 10:00-15:00,holiday_hours_ 10:00-16:00,holiday_hours_ 10:00-17:00,holiday_hours_ 11:00-15:00,holiday_hours_ 11:00-17:00,holiday_hours_ not working
0,0.099475,-0.443987,0.758433,0.903508,-0.345683,0.767649,-0.130931,-0.659912,-1.420193,-0.1066,...,-0.130931,-0.355784,-0.075165,-0.375534,-0.268866,-0.130931,-0.795630,-0.075165,-0.33541,1.556624
1,0.098592,-0.444582,0.758433,0.903508,-0.345683,0.767649,-0.130931,-0.659912,-1.420193,-0.1066,...,-0.130931,-0.355784,-0.075165,-0.375534,-0.268866,-0.130931,-0.795630,-0.075165,-0.33541,1.556624
2,0.101782,-0.442429,0.758433,0.903508,-0.345683,-1.302678,-0.130931,1.515354,-1.420193,-0.1066,...,-0.130931,-0.355784,-0.075165,-0.375534,-0.268866,-0.130931,1.256865,-0.075165,-0.33541,-0.642416
3,0.103383,-0.443769,0.758433,0.903508,-0.345683,0.767649,-0.130931,-0.659912,-1.420193,-0.1066,...,-0.130931,-0.355784,-0.075165,-0.375534,-0.268866,-0.130931,-0.795630,-0.075165,-0.33541,1.556624
4,0.095497,-0.443498,0.758433,0.903508,-0.345683,-1.302678,-0.130931,1.515354,0.704129,-0.1066,...,-0.130931,-0.355784,-0.075165,-0.375534,-0.268866,-0.130931,-0.795630,-0.075165,-0.33541,1.556624

In [5]:
df.drop(columns=[' latitude', ' longitude'], inplace=True)

In [6]:
df.head()

,opt_0,opt_1,opt_2,opt_3,opt_4,opt_5,opt_6,opt_7,opt_8,opt_9,...,work_day_hours_ 10:00-21:00,work_day_hours_ 11:00-20:00,holiday_hours_ 09:00-14:00,holiday_hours_ 10:00-14:00,holiday_hours_ 10:00-15:00,holiday_hours_ 10:00-16:00,holiday_hours_ 10:00-17:00,holiday_hours_ 11:00-15:00,holiday_hours_ 11:00-17:00,holiday_hours_ not working
0,0.758433,0.903508,-0.345683,0.767649,-0.130931,-0.659912,-1.420193,-0.1066,-0.256648,0.413585,...,-0.130931,-0.355784,-0.075165,-0.375534,-0.268866,-0.130931,-0.795630,-0.075165,-0.33541,1.556624
1,0.758433,0.903508,-0.345683,0.767649,-0.130931,-0.659912,-1.420193,-0.1066,-0.256648,0.413585,...,-0.130931,-0.355784,-0.075165,-0.375534,-0.268866,-0.130931,-0.795630,-0.075165,-0.33541,1.556624
2,0.758433,0.903508,-0.345683,-1.302678,-0.130931,1.515354,-1.420193,-0.1066,-0.256648,0.413585,...,-0.130931,-0.355784,-0.075165,-0.375534,-0.268866,-0.130931,1.256865,-0.075165,-0.33541,-0.642416
3,0.758433,0.903508,-0.345683,0.767649,-0.130931,-0.659912,-1.420193,-0.1066,-0.256648,0.413585,...,-0.130931,-0.355784,-0.075165,-0.375534,-0.268866,-0.130931,-0.795630,-0.075165,-0.33541,1.556624
4,0.758433,0.903508,-0.345683,-1.302678,-0.130931,1.515354,0.704129,-0.1066,-0.256648,0.413585,...,-0.130931,-0.355784,-0.075165,-0.375534,-0.268866,-0.130931,-0.795630,-0.075165,-0.33541,1.556624

In [7]:
from sklearn.cluster import DBSCAN

In [8]:
clustering = DBSCAN(eps=3, min_samples=2).fit(df)
clustering.labels_

array([ 0,  0, -1,  0, -1, -1,  0, -1,  1, -1, -1, -1,  0, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1,  1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1,  2, -1,  3,  3, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1,  4, -1,  2, -1,  5, -1, -1, -1, -1, -1,  4, -1, -1,  4,
       -1,  5, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1,  6, -1,  7,  6,  8, -1, -1, -1, -1, -1, -1, -1,  8,  7, -1,
       -1, -1,  9, -1,  9, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1], dtype=int64)

In [11]:
df_pre.drop(columns=['office_id', ' city', ' latitude', ' longitude'], inplace=True)
df_pre.head()

,work_day_hours,holiday_hours,opt_0,opt_1,opt_2,opt_3,opt_4,opt_5,opt_6,opt_7,opt_8,opt_9,opt_10,opt_11,opt_12,opt_13,opt_14,opt_15,opt_16
0,10:00-20:00,not working,1,1,0,1,0,0,0,0,0,1,1,0,0,1,1,0,0
1,10:00-20:00,not working,1,1,0,1,0,0,0,0,0,1,1,0,0,1,1,0,0
2,10:00-20:00,10:00-17:00,1,1,0,0,0,1,0,0,0,1,1,1,1,1,1,0,0
3,10:00-20:00,not working,1,1,0,1,0,0,0,0,0,1,1,0,0,1,1,0,0
4,10:00-19:00,not working,1,1,0,0,0,1,1,0,0,1,1,0,0,1,1,1,0

In [12]:
df_pre = pd.get_dummies(df_pre)
df_pre.head()

,opt_0,opt_1,opt_2,opt_3,opt_4,opt_5,opt_6,opt_7,opt_8,opt_9,...,work_day_hours_ 10:00-21:00,work_day_hours_ 11:00-20:00,holiday_hours_ 09:00-14:00,holiday_hours_ 10:00-14:00,holiday_hours_ 10:00-15:00,holiday_hours_ 10:00-16:00,holiday_hours_ 10:00-17:00,holiday_hours_ 11:00-15:00,holiday_hours_ 11:00-17:00,holiday_hours_ not working
0,1,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,1,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,1,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,1,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,1,1,0,0,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [13]:
new_scaler = StandardScaler()
df_pre = pd.DataFrame(new_scaler.fit_transform(df_pre), columns=df_pre.columns)

In [16]:
new_clustering  = DBSCAN(eps=4, min_samples=2).fit(df_pre)
new_clustering.labels_

array([ 0,  0,  0,  0,  0, -1,  0,  0,  0,  0, -1, -1,  0,  0, -1,  0,  1,
        1,  0,  0,  0,  0,  0,  2, -1,  1,  0,  0, -1,  0,  0,  0,  0, -1,
        0,  0,  0,  0,  2,  0,  0,  0,  0,  0, -1,  0,  3,  0,  4,  0,  0,
        0, -1,  0,  4, -1,  0,  0,  0,  0,  0,  3,  0,  0,  4,  0, -1,  4,
        4,  0,  0, -1,  0, -1,  0,  0, -1,  0, -1,  0,  0,  0,  0,  0,  0,
        5,  6, -1,  5,  7,  0,  8,  0,  9,  0, -1, -1,  5,  6, 10, 10, 10,
       10, -1, 10, 10, 10, 10, 10, -1, -1, -1, 10, -1, 10, 10, 10, 10, 10,
        5, 11,  0,  7,  0,  7,  7,  7,  7,  0,  0, -1, 12,  0,  5, -1, 12,
        0,  7,  0,  0,  9,  7,  8,  0, -1,  0, -1, 11,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,
        0, -1, -1,  0,  0,  0,  0,  0], dtype=int64)

In [17]:
df = pd.read_csv('raiffeisen.csv')
df.head()

,office_id,city,latitude,longitude,work_day_hours,holiday_hours,opt_0,opt_1,opt_2,opt_3,...,opt_7,opt_8,opt_9,opt_10,opt_11,opt_12,opt_13,opt_14,opt_15,opt_16
0,0,г.Москва,55.754664,37.608984,10:00-20:00,not working,1,1,0,1,...,0,0,1,1,0,0,1,1,0,0
1,1,г.Москва,55.751780,37.599270,10:00-20:00,not working,1,1,0,1,...,0,0,1,1,0,0,1,1,0,0
2,2,г.Москва,55.762194,37.634410,10:00-20:00,10:00-17:00,1,1,0,0,...,0,0,1,1,1,1,1,1,0,0
3,3,г.Москва,55.767421,37.612543,10:00-20:00,not working,1,1,0,1,...,0,0,1,1,0,0,1,1,0,0
4,4,г.Москва,55.741678,37.616970,10:00-19:00,not working,1,1,0,0,...,0,0,1,1,0,0,1,1,1,0

In [63]:
msk = df[df[' city'] == ' г.Москва']

In [64]:
msk.drop(columns=['office_id', ' city', ' latitude', ' longitude'], inplace=True)
msk.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,work_day_hours,holiday_hours,opt_0,opt_1,opt_2,opt_3,opt_4,opt_5,opt_6,opt_7,opt_8,opt_9,opt_10,opt_11,opt_12,opt_13,opt_14,opt_15,opt_16
0,10:00-20:00,not working,1,1,0,1,0,0,0,0,0,1,1,0,0,1,1,0,0
1,10:00-20:00,not working,1,1,0,1,0,0,0,0,0,1,1,0,0,1,1,0,0
2,10:00-20:00,10:00-17:00,1,1,0,0,0,1,0,0,0,1,1,1,1,1,1,0,0
3,10:00-20:00,not working,1,1,0,1,0,0,0,0,0,1,1,0,0,1,1,0,0
4,10:00-19:00,not working,1,1,0,0,0,1,1,0,0,1,1,0,0,1,1,1,0

In [65]:
msk = pd.get_dummies(msk)
msk.head()

,opt_0,opt_1,opt_2,opt_3,opt_4,opt_5,opt_6,opt_7,opt_8,opt_9,...,work_day_hours_ 09:00-19:00,work_day_hours_ 09:00-20:00,work_day_hours_ 09:00-20:30,work_day_hours_ 10:00-19:00,work_day_hours_ 10:00-20:00,work_day_hours_ 10:00-20:30,work_day_hours_ 10:00-21:00,work_day_hours_ 11:00-20:00,holiday_hours_ 10:00-17:00,holiday_hours_ not working
0,1,1,0,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
1,1,1,0,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
2,1,1,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
3,1,1,0,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
4,1,1,0,0,0,1,1,0,0,1,...,0,0,0,1,0,0,0,0,0,1

In [66]:
msk_scaler = StandardScaler()
msk = pd.DataFrame(msk_scaler.fit_transform(msk), columns=msk.columns)

In [67]:
msk_clustering = DBSCAN(eps=5).fit(msk)
msk_clustering.labels_

array([ 0,  0,  0,  0, -1, -1,  0,  0,  0, -1, -1, -1,  0,  0,  1,  0,  1,
        1,  0,  0,  0,  0,  0,  0, -1,  1,  0,  0, -1,  0,  0,  0,  0, -1,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0, -1,  0,  0,  0,  0,
        0,  0,  0,  0, -1,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  1,  0,
        0,  0,  0, -1,  0], dtype=int64)

In [68]:
msk['labels'] = msk_clustering.labels_

In [69]:
msk[msk['labels'] == -1]

,opt_0,opt_1,opt_2,opt_3,opt_4,opt_5,opt_6,opt_7,opt_8,opt_9,...,work_day_hours_ 09:00-20:00,work_day_hours_ 09:00-20:30,work_day_hours_ 10:00-19:00,work_day_hours_ 10:00-20:00,work_day_hours_ 10:00-20:30,work_day_hours_ 10:00-21:00,work_day_hours_ 11:00-20:00,holiday_hours_ 10:00-17:00,holiday_hours_ not working,labels
4,1.131923,0.678233,-0.117851,-0.986394,-0.117851,1.428869,1.522558,-0.117851,-0.39841,0.167836,...,-0.271163,-0.117851,4.153312,-1.814970,-0.117851,-0.207020,-0.167836,-1.344504,1.344504,-1
5,1.131923,-1.474420,-0.117851,-0.986394,-0.117851,-0.699854,-0.656790,-0.117851,-0.39841,-5.958188,...,-0.271163,-0.117851,4.153312,-1.814970,-0.117851,-0.207020,-0.167836,-1.344504,1.344504,-1
9,-0.883452,0.678233,-0.117851,1.013794,-0.117851,1.428869,-0.656790,-0.117851,-0.39841,0.167836,...,-0.271163,-0.117851,4.153312,-1.814970,-0.117851,-0.207020,-0.167836,-1.344504,1.344504,-1
10,1.131923,0.678233,-0.117851,-0.986394,-0.117851,-0.699854,-0.656790,-0.117851,-0.39841,-5.958188,...,-0.271163,-0.117851,4.153312,-1.814970,-0.117851,-0.207020,-0.167836,-1.344504,1.344504,-1
11,1.131923,0.678233,8.485281,1.013794,-0.117851,1.428869,1.522558,8.485281,-0.39841,0.167836,...,-0.271163,8.485281,-0.240772,-1.814970,-0.117851,-0.207020,-0.167836,0.743768,-0.743768,-1
24,-0.883452,0.678233,-0.117851,-0.986394,-0.117851,-0.699854,-0.656790,-0.117851,2.50998,0.167836,...,-0.271163,-0.117851,-0.240772,-1.814970,-0.117851,-0.207020,5.958188,0.743768,-0.743768,-1
28,-0.883452,-1.474420,-0.117851,1.013794,-0.117851,-0.699854,-0.656790,-0.117851,-0.39841,0.167836,...,-0.271163,-0.117851,-0.240772,-1.814970,-0.117851,-0.207020,5.958188,-1.344504,1.344504,-1
33,1.131923,0.678233,-0.117851,1.013794,-0.117851,1.428869,-0.656790,-0.117851,2.50998,0.167836,...,-0.271163,-0.117851,-0.240772,-1.814970,-0.117851,-0.207020,-0.167836,-1.344504,1.344504,-1
44,1.131923,0.678233,-0.117851,1.013794,8.485281,-0.699854,1.522558,-0.117851,-0.39841,0.167836,...,-0.271163,-0.117851,-0.240772,0.550973,-0.117851,-0.207020,-0.167836,-1.344504,1.344504,-1
46,-0.883452,0.678233,-0.117851,-0.986394,-0.117851,-0.699854,-0.656790,-0.117851,-0.39841,0.167836,...,-0.271163,-0.117851,-0.240772,-1.814970,-0.117851,4.830459,-0.167836,0.743768,-0.743768,-1
55,-0.883452,-1.474420,-0.117851,-0.986394,-0.117851,-0.699854,-0.656790,-0.117851,-0.39841,0.167836,...,-0.271163,-0.117851,-0.240772,-1.814970,8.485281,-0.207020,-0.167836,0.743768,-0.743768,-1
61,-0.883452,0.678233,-0.117851,1.013794,-0.117851,-0.699854,-0.656790,-0.117851,-0.39841,0.167836,...,-0.271163,-0.117851,-0.240772,-1.814970,-0.117851,4.830459,-0.167836,0.743768,-0.743768,-1
71,-0.883452,-1.474420,-0.117851,1.013794,-0.117851,1.428869,1.522558,-0.117851,-0.39841,0.167836,...,-0.271163,-0.117851,-0.240772,-1.814970,-0.117851,4.830459,-0.167836,0.743768,-0.743768,-1

In [47]:
msk[msk['labels'] == 1]

,opt_0,opt_1,opt_2,opt_3,opt_4,opt_5,opt_6,opt_7,opt_8,opt_9,...,work_day_hours_ 09:00-20:00,work_day_hours_ 09:00-20:30,work_day_hours_ 10:00-19:00,work_day_hours_ 10:00-20:00,work_day_hours_ 10:00-20:30,work_day_hours_ 10:00-21:00,work_day_hours_ 11:00-20:00,holiday_hours_ 10:00-17:00,holiday_hours_ not working,labels
14,1.131923,0.678233,-0.117851,-0.986394,-0.117851,1.428869,1.522558,-0.117851,-0.39841,0.167836,...,3.687818,-0.117851,-0.240772,-1.81497,-0.117851,-0.20702,-0.167836,0.743768,-0.743768,1
16,1.131923,0.678233,-0.117851,-0.986394,-0.117851,-0.699854,-0.656790,-0.117851,-0.39841,0.167836,...,3.687818,-0.117851,-0.240772,-1.81497,-0.117851,-0.20702,-0.167836,0.743768,-0.743768,1
17,1.131923,0.678233,-0.117851,-0.986394,-0.117851,-0.699854,-0.656790,-0.117851,-0.39841,0.167836,...,3.687818,-0.117851,-0.240772,-1.81497,-0.117851,-0.20702,-0.167836,-1.344504,1.344504,1
25,1.131923,0.678233,-0.117851,1.013794,-0.117851,1.428869,1.522558,-0.117851,-0.39841,0.167836,...,3.687818,-0.117851,-0.240772,-1.81497,-0.117851,-0.20702,-0.167836,-1.344504,1.344504,1
66,1.131923,-1.474420,-0.117851,1.013794,-0.117851,1.428869,1.522558,-0.117851,-0.39841,0.167836,...,3.687818,-0.117851,-0.240772,-1.81497,-0.117851,-0.20702,-0.167836,0.743768,-0.743768,1

In [61]:
msk[msk['labels'] == 0]

KeyError: 'labels'

# Peter

In [50]:
spb = df[df[' city'] == ' г.Санкт-Петербург']

In [51]:
spb.drop(columns=['office_id', ' city', ' latitude', ' longitude'], inplace=True)
spb.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,work_day_hours,holiday_hours,opt_0,opt_1,opt_2,opt_3,opt_4,opt_5,opt_6,opt_7,opt_8,opt_9,opt_10,opt_11,opt_12,opt_13,opt_14,opt_15,opt_16
99,11:00-20:00,11:00-17:00,1,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
100,11:00-20:00,11:00-17:00,1,1,0,1,0,0,1,0,0,1,0,0,1,1,0,0,0
101,11:00-20:00,11:00-17:00,1,0,0,1,0,1,1,0,0,0,0,1,1,1,0,0,0
102,11:00-20:00,11:00-17:00,1,1,0,1,0,1,1,0,0,0,0,1,1,1,0,1,0
103,11:00-20:00,11:00-17:00,1,0,0,1,1,0,0,0,0,1,0,1,1,1,0,1,0

In [52]:
spb = pd.get_dummies(spb)
spb.head()

,opt_0,opt_1,opt_2,opt_3,opt_4,opt_5,opt_6,opt_7,opt_8,opt_9,...,opt_12,opt_13,opt_14,opt_15,opt_16,work_day_hours_ 09:00-18:00,work_day_hours_ 10:00-19:00,work_day_hours_ 11:00-20:00,holiday_hours_ 11:00-17:00,holiday_hours_ not working
99,1,0,0,0,0,0,1,0,0,0,...,1,1,0,0,0,0,0,1,1,0
100,1,1,0,1,0,0,1,0,0,1,...,1,1,0,0,0,0,0,1,1,0
101,1,0,0,1,0,1,1,0,0,0,...,1,1,0,0,0,0,0,1,1,0
102,1,1,0,1,0,1,1,0,0,0,...,1,1,0,1,0,0,0,1,1,0
103,1,0,0,1,1,0,0,0,0,1,...,1,1,0,1,0,0,0,1,1,0

In [53]:
spb_scaler = StandardScaler()
spb = pd.DataFrame(spb_scaler.fit_transform(spb), columns=spb.columns)

In [62]:
spb_clustering = DBSCAN(eps=4, min_samples=2).fit(spb)
spb_clustering.labels_

array([ 0,  0,  0,  0, -1,  0,  0,  0,  0,  0, -1, -1, -1,  0, -1,  0,  0,
        0,  0,  0], dtype=int64)

In [58]:
spb['labels'] = spb_clustering.labels_

In [60]:
spb[spb['labels'] == -1]

,opt_0,opt_1,opt_2,opt_3,opt_4,opt_5,opt_6,opt_7,opt_8,opt_9,...,opt_13,opt_14,opt_15,opt_16,work_day_hours_ 09:00-18:00,work_day_hours_ 10:00-19:00,work_day_hours_ 11:00-20:00,holiday_hours_ 11:00-17:00,holiday_hours_ not working,labels
4,0.333333,-1.732051,-0.420084,0.5,4.358899,-0.733799,-2.0,-0.229416,0.0,2.0,...,0.229416,-0.816497,1.105542,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,-1
10,0.333333,0.577350,-0.420084,0.5,-0.229416,1.362770,-2.0,-0.229416,0.0,2.0,...,0.229416,1.224745,-0.904534,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,-1
11,-3.000000,-1.732051,-0.420084,-2.0,-0.229416,-0.733799,-2.0,-0.229416,0.0,-0.5,...,-4.358899,-0.816497,-0.904534,4.358899,4.358899,-0.229416,-3.000000,-3.000000,3.000000,-1
12,0.333333,0.577350,2.380476,0.5,-0.229416,1.362770,0.5,4.358899,0.0,-0.5,...,0.229416,1.224745,-0.904534,-0.229416,-0.229416,4.358899,-3.000000,-3.000000,3.000000,-1
14,-3.000000,-1.732051,-0.420084,-2.0,-0.229416,1.362770,-2.0,-0.229416,0.0,-0.5,...,0.229416,1.224745,-0.904534,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,-1

In [71]:
spb

,opt_0,opt_1,opt_2,opt_3,opt_4,opt_5,opt_6,opt_7,opt_8,opt_9,...,opt_13,opt_14,opt_15,opt_16,work_day_hours_ 09:00-18:00,work_day_hours_ 10:00-19:00,work_day_hours_ 11:00-20:00,holiday_hours_ 11:00-17:00,holiday_hours_ not working,labels
0,0.333333,-1.732051,-0.420084,-2.0,-0.229416,-0.733799,0.5,-0.229416,0.0,-0.5,...,0.229416,-0.816497,-0.904534,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
1,0.333333,0.577350,-0.420084,0.5,-0.229416,-0.733799,0.5,-0.229416,0.0,2.0,...,0.229416,-0.816497,-0.904534,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
2,0.333333,-1.732051,-0.420084,0.5,-0.229416,1.362770,0.5,-0.229416,0.0,-0.5,...,0.229416,-0.816497,-0.904534,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
3,0.333333,0.577350,-0.420084,0.5,-0.229416,1.362770,0.5,-0.229416,0.0,-0.5,...,0.229416,-0.816497,1.105542,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
4,0.333333,-1.732051,-0.420084,0.5,4.358899,-0.733799,-2.0,-0.229416,0.0,2.0,...,0.229416,-0.816497,1.105542,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,-1
5,0.333333,0.577350,-0.420084,0.5,-0.229416,-0.733799,0.5,-0.229416,0.0,-0.5,...,0.229416,-0.816497,1.105542,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
6,0.333333,0.577350,2.380476,0.5,-0.229416,1.362770,0.5,-0.229416,0.0,-0.5,...,0.229416,-0.816497,-0.904534,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
7,0.333333,0.577350,-0.420084,0.5,-0.229416,-0.733799,0.5,-0.229416,0.0,-0.5,...,0.229416,-0.816497,1.105542,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
8,0.333333,0.577350,-0.420084,0.5,-0.229416,-0.733799,0.5,-0.229416,0.0,-0.5,...,0.229416,-0.816497,1.105542,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
9,0.333333,0.577350,-0.420084,0.5,-0.229416,-0.733799,0.5,-0.229416,0.0,-0.5,...,0.229416,1.224745,-0.904534,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
10,0.333333,0.577350,-0.420084,0.5,-0.229416,1.362770,-2.0,-0.229416,0.0,2.0,...,0.229416,1.224745,-0.904534,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,-1
11,-3.000000,-1.732051,-0.420084,-2.0,-0.229416,-0.733799,-2.0,-0.229416,0.0,-0.5,...,-4.358899,-0.816497,-0.904534,4.358899,4.358899,-0.229416,-3.000000,-3.000000,3.000000,-1
12,0.333333,0.577350,2.380476,0.5,-0.229416,1.362770,0.5,4.358899,0.0,-0.5,...,0.229416,1.224745,-0.904534,-0.229416,-0.229416,4.358899,-3.000000,-3.000000,3.000000,-1
13,0.333333,0.577350,-0.420084,0.5,-0.229416,1.362770,0.5,-0.229416,0.0,-0.5,...,0.229416,1.224745,1.105542,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
14,-3.000000,-1.732051,-0.420084,-2.0,-0.229416,1.362770,-2.0,-0.229416,0.0,-0.5,...,0.229416,1.224745,-0.904534,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,-1
15,0.333333,0.577350,-0.420084,0.5,-0.229416,-0.733799,0.5,-0.229416,0.0,-0.5,...,0.229416,1.224745,1.105542,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
16,0.333333,0.577350,2.380476,-2.0,-0.229416,-0.733799,0.5,-0.229416,0.0,-0.5,...,0.229416,1.224745,-0.904534,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
17,0.333333,0.577350,-0.420084,0.5,-0.229416,-0.733799,0.5,-0.229416,0.0,-0.5,...,0.229416,1.224745,-0.904534,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
18,0.333333,0.577350,-0.420084,0.5,-0.229416,-0.733799,0.5,-0.229416,0.0,-0.5,...,0.229416,-0.816497,1.105542,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0
19,0.333333,0.577350,-0.420084,0.5,-0.229416,-0.733799,0.5,-0.229416,0.0,2.0,...,0.229416,-0.816497,1.105542,-0.229416,-0.229416,-0.229416,0.333333,0.333333,-0.333333,0